*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --background-blck: #000000;
  --primary-color:#08bf5d;
  --secondary-color: #8257E5;
  --paragraph: #ffffff;
}
html{
  width: 100%;
  height: 100%;
}
body{
  height: 100vh;
  width: 100vw;
  overflow: overlay;
  display: flex;
  flex-direction: row-reverse;
  background-color: var(--background-blck);

}
.wrapper{
  position: absolute;
  left: 0%;
  width: 55%;
  height: 100vh;
  background-color: var(--background-blck);
}
.wrapper header img{
  width: 55%;
  margin-left: 2.8rem;
  margin-top: 4rem;
}
.content h1{
  width: 100%;
  font-family: 'Work Sans';
  color: var(--primary-color);
  font-weight: 700;
  font-size: 2.7rem;
  line-height: 130%;
}
.content h4{
  width: 100%;
  font-family: 'League Spartan';
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 130%;
  color: var(--paragraph);
  margin-top: 1.1rem;
}
.content p{
  width: 100%;
  font-family: 'League Spartan';
  margin-top: 0.9rem;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 130%;
  color: var(--paragraph);
  margin-bottom: 3rem;

}
.email p {
  margin-bottom: 1.7rem;
}
.email{
  width: 100%;
}
.email  input{
  width: 100%;
  height: 4.5rem;
  border: none;
  border-left: 6px solid var(--primary-color) ;
  margin-left: 1rem;
}
.email button {
  width: 4.5rem;
  height: 4.5rem;
  border: 0.2rem solid var(--secondary-color);
  background-color: var(--secondary-color);
}
.email button img{
  height: 100%;
  width: 100%;
}
.send{
  display: flex;
}
.sign{
  display: flex;
  width: 30rem;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}
.sign p{
  font-size: 2rem;
  color: var(--secondary-color);
}
.sign p img{
  height: 1.5rem;
}
.content{
  display: flex;
  flex-direction: column;
  width:94%;
  margin-left: 3.6rem;
  margin-right: 3.7rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
}